html, body {
  margin: 0;
  padding: 0;
}

path.land {
  stroke: #000;
  stroke-width: 2;
}

path.state {
  fill: #fff;
  stroke: #000;
  stroke-width: 1;
}

path.state.overlay {
  fill: transparent;
  stroke: none;
}

path.state.single:hover,
path.state.overlay:hover {
  stroke-width: 2;
  stroke:#000;
}

path.state.largest {
  fill: #5e945e;
}

path.state.small {
  fill: #ceba63;
}

tr.largest {
  background-color: #5e945e;
  color: #fff;
}

tr.small {
  background-color: #ceba63;
}

tr > td:last-child {
  text-align: right;
}

main {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: minmax(0, 100vh);
}

#map,
#sidebar {
  overflow: hidden;
}

#map {
  position: relative;
}

#sidebar-scroll {
  overflow: auto;
  height: calc(100% - 2em);
}

#sidebar table {
  width: 100%;
}
